--trimwhitespace always
--indent 4
--ifdef outdent
--comments ignore
--commas always
--wrapelements beforefirst
--elseposition sameline
--patternlet inline
--wrapcollections beforefirst
--wraparguments beforefirst
--extensionacl on-declarations
--stripunusedargs closure-only
--exclude Pods,Carthage,Generated
--disable \
    andOperator, \
    unusedArguments, \
    sortImports, \
    redundantSelf, \
    redundantReturn, \
    wrapMultilineStatementBraces, \
    hoistTry, \
    hoistAwait, \
    redundantClosure
